/*************************
    GLOBAL STYLES
*************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

p {
    padding-bottom: 1em;
    line-height: 1.5em;
}

ul {
    list-style-position: inside;
}

/*************************
    LAYOUT
*************************/

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
}

.textbox {
    padding: 1em 2em;
}

.info {
    padding: 1em 2em;
    max-width: 500px;
    margin: 1em auto 1em auto;
    border: 2px solid #1B3949;
    border-radius: 5px;
}

/*************************
    HEADER
*************************/

header {
    background-color: #499BC9;
    color: #fdfdfd;
    text-align: center;
    padding: 1em 0;
}
    header a {
        color: #fdfdfd;
        text-decoration: none;
    }

#brand {
    padding-bottom: 0.5em;
    letter-spacing: 1px;
}
    #brand h3 {
        font-weight: 500;
    }

#tagline {
    padding: 0;
}

nav {
    margin-top: 0.5em;
}
    nav ul li {
        list-style: none;
        letter-spacing: 1px;
    }
    nav ul li a {
        text-decoration: none;
    }
    nav ul li a:hover {
        color: #314149;
    }

#line {
    border: 1px solid #367496;
    width: 60%;
    margin: auto;
    }

/*************************
    BANNER
*************************/

#banner {
    background-color: #367496;
    color: #fdfdfd;
    text-align: center;
}
    #banner h3 {
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

/*************************
    ABOUT
*************************/

#about {
    text-align: center;
    background-color: #fdfdfd;
}

img#profile {
    display: block;
    width: 60%;
    max-width: 300px;
    margin: 1em auto;
    border-radius: 5px;
  }

/*************************
    PROJECTS
*************************/

#projects {
    background-color: #efefef;
    text-align: center;
}
    #projects a {
        font-weight: 600;
        color: #404040;
    }
    #projects a:visited {
        color: #404040;
    }
    #projects a:hover {
        color: #499BC9;
    }

#project-grid {
    padding: 1em 0;
    margin: 0 auto;
}

#project-grid a {
    display: block;
    margin: 1em;
}

img.project-pic {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
  }
    img.project-pic:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

/*************************
    CONTACT
*************************/

#contact {
    text-align: center;
}

.links {
    padding: 2em;
}
    .links a {
        display: block;
        padding: 0.5em;
        text-decoration: none;
        color: #404040;
    }
    .links a:visited {
        color: #404040;
    }
    .links a:hover {
        color: #499BC9;

    }

/*************************
    FOOTER
*************************/

footer {
    background-color: #499BC9;
    color: #fdfdfd;
    padding: 2em;
    text-align: center;
}
    footer a {
        color: #fdfdfd;
        text-decoration: none;
    }
    footer a:hover {
        color: #314149;
    }


/*************************
    MEDIA QUERIES
*************************/

/* DESKTOP */
@media (min-width: 800px) {

    /* HEADER */
    header div.container {
        padding: 0.5em;
    }

    #brand {
        text-align: left;
        padding-left: 1em;
    }
        #brand h3 {
            font-size: 1em;
        }

    .navbar {
        display: grid;
        grid-template-columns: 65% auto;
    }

    nav {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
        nav ul li {
            display: inline-block;
            padding: 0 0.5em;
        }

    #line {
        display: none;
    }

    /* ABOUT */
    #about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    img#profile {
        display: block;
        width: 60%;
        margin: 1em auto;
      }
    
    /* PROJECTS */
    #project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        /* grid-gap: 10px; */
        padding: 1em;
    }



    .info {
        max-width: 700px;
        margin: 1em auto 1em auto;
    }
}
